@{
    ViewData["Title"] = "Home Page";
}

<body id="body">
    <section>
      <h2 class="title">STORE</h2>
      <a href="roda.html">
        <div class="product">
          <img src="~/img/products/discoFreio.png" alt="" srcset="" />
          <h2>14 Inch rims</h2>
          <p>Car Wheel</p>
          <p>USD 33,00</p>
        </div>
      </a>
      <a href="cars.html">
        <div class="product">
          <img src="~/img/products/motor.png" alt="" srcset="" />
          <h2>Ford Ka Engine</h2>
          <p>Car Engine</p>
          <p>USD 530,00</p>
        </div>
      </a>
      <a href="cars.html">
        <div class="product">
          <img src="~/img/products/discoFreio.png" alt="" srcset="" />
          <h2>Brake Wheel</h2>
          <p>Car Brake</p>
          <p>USD 25,00</p>
        </div>
      </a>
      <a href="cars.html">
        <div class="product">
          <img src="~/img/products/pneu.png" alt="" srcset="" />
          <h2>14 Inch rims</h2>
          <p>Car Wheel</p>
          <p>USD 33,00</p>
        </div>
      </a>
      <a href="cars.html">
        <div class="product">
          <img src="~/img/products/pneu.png" alt="" srcset="" />
          <h2>14 Inch rims</h2>
          <p>Car Wheel</p>
          <p>USD 33,00</p>
        </div>
      </a>
      <a href="cars.html">
        <div class="product">
          <img src="~/img/products/pneu.png" alt="" srcset="" />
          <h2>14 Inch rims</h2>
          <p>Car Wheel</p>
          <p>USD 33,00</p>
        </div>
      </a>
    </section>
  </body>